<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title%}Development Toutiao{% endblock%}</title>
    {% load staticfiles %}
    

    <!-- Bootstrap Core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		a:link { text-decoration: none; color:#ADADAD; }
        
	</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe"></span> 开发者头条</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="{% url 'psnumber' %}">独家号</a>
                    </li>
                    <li>
                        <a href="{% url 'popularsharing'%}">热门分享</a>
                    </li>
                    <li>
                        <a href="#">分享</a>
                    </li>
                    <li>
                        <a href="#">订阅</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                    	<a href="#">{{ user.username }}</a>
                    </li>
                    <li>
                    	<a href="{% url 'logout' %}">注销</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">登录</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="#">Python</a>
                    </li>
                    <li>
                        <a href="#">后端</a>
                    </li>
                    
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">Python</a></li>
							<li><a href="#">后端</a></li>
							<li><a href="#">架构</a></li>
						</ul>
					</li>    
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
				</form>
				
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container" >
    <div class="row">
		<div class="col-md-8 col-md-offset-2 ">
			{% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <hr>
            <br>
			{% block body %}{% endblock %}	
						
		</div><!--/Center Column-->

	</div>
</div><!--/container-fluid-->

	
	<footer>
    <div class="container ">
      <p class="text-center">
        <a href="#">关于我们</a>
        <a href="/download">开发者头条客户端</a>
        <a href="/partner">合作伙伴</a>
        <a href="/about_coin">IO币介绍</a>        <a target="_blank" href="http://weekly.manong.io/">码农周刊</a>
        <a target="_blank" href="http://job.manong.io/">程序员招聘</a>
        
      </p>
      <p class="text-center">&copy; 2013-2016  版权所有 </p>
    </div>
  </footer>

	
    

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
</body>

</html>
